<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navBar.ejs'); %>
    <div class="container" id="form-pergunta">
        <div class="card">
            <div class="card-header">
                <h1>New Question</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/save-quest">
                    <label>Title</label>
                    <input name="titulo" type="text" placeholder="Title" class="form-control">
                    <br>
                    <label>Question:</label>
                    <textarea name="descricao" placeholder="Decribe here your question" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Ask!</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs'); %>